<html>
<body> 
    @{
        Random rnd = new Random();
        int answer = rnd.Next(1,1000);

        if (IsPost) {
        var guessnum = Request["Guess"]; 
        Session["realAnswer"] = answer;
        
        //Convert.ToInt32(guessnum);
        if (guessnum.AsInt() != Convert.ToInt32(Session["realAnswer"])){

            <p> @guessnum is incorrect! </p>
            <input type="number" name="Guess" value="">Try again: </input>
   
        }

        else {
            <p> @guessnum is Correct</p>
        }
        }  
        
    
    else
    {
    <form method="post" action="">
    Company Name:<br />
    <input type="number" name="Guess" value="" /><br />
    Contact Name:<br />
    <input type="number" name="Answer" value="" /><br /><br />
    <input type="submit" value="Submit" class="submit" />
    </form>
    }

    @answer
} 
</body> 
</html>