<html>
<body> 
    @{

        if (IsPost) { 
        int number;
        int guessnum = Request["Guess"]; 
        int answer = Session["Answer"]; 
        
        if (guessnum != answer){

            <p> @guessnum is incorrect! </p>

            <input type="number" name="Guess" value="">Try again: </input>
   
        }

        else {
            <p> @guessnum is Correct</p>
        }
        }
    // else if(guessnum != answer){
    //     <p> Your guess is wrong! </p>

    //         // <p>You entered: <br/>
    //         // Guess: @guessnum <br/>
    //         // Contact Name: @answer </p>

    // }
        
        
    
    else
    {
    <form method="post" action="">
    Company Name:<br />
    <input type="number" name="Guess" value="" /><br />
    Contact Name:<br />
    <input type="number" name="Answer" value="" /><br /><br />
    <input type="submit" value="Submit" class="submit" />
    </form>
    }
} 
</body> 
</html>