        
<html>
<body> 
    @{ 
        if(Session["realAnswer"] == null){
            Random rnd = new Random();
            int answer = rnd.Next(1,50);
            Session["realAnswer"] = answer;
        }

        if (IsPost) {
        var guessnum = Request["Guess"]; 
        
        if (guessnum.AsInt() != Convert.ToInt32(Session["realAnswer"])){

            <form method="post" action="" ><p> @guessnum is incorrect! </p> <br/>Try again:
                <input type="number" name="Guess" value=""/> 
                <input type="submit" value="Submit" class="submit" /> 
            </form>
            
   
        }

        else {
            <p> @guessnum is Correct</p>
        }
        }  
        
    
    else
    {
    <form method="post" action="">
    <p>Welcome to the guessing game!</p>
    Guess:<br />
    <input type="number" name="Guess" value="" /><br />
    <input type="submit" value="Submit" class="submit" />
    </form>
    }

    @Session["realAnswer"]
} 
</body> 
</html>