<html>
<body> 
    @{
        Random rnd = new Random();
        int answer = rnd.Next(1,1000);

        if (IsPost) {
        var guessnum = Request["Guess"]; 
        Session["realAnswer"] = answer;
        
        //Convert.ToInt32(guessnum);
        if (guessnum.AsInt() != Session["realAnswer"].ToInt32()){

            <p> @guessnum is incorrect! </p>
            <input type="number" name="Guess" value="">Try again: </input>
   
        }

        else {
            <p> @guessnum is Correct</p>
        }
        }
    // else if(guessnum != answer){
    //     <p> Your guess is wrong! </p>

    //         // <p>You entered: <br/>
    //         // Guess: @guessnum <br/>
    //         // Contact Name: @answer </p>

    // }
        
        
    
    else
    {
    <form method="post" action="">
    Company Name:<br />
    <input type="number" name="Guess" value="" /><br />
    Contact Name:<br />
    <input type="number" name="Answer" value="" /><br /><br />
    <input type="submit" value="Submit" class="submit" />
    </form>
    }
} 
</body> 
</html>