<html>
<body> 
    @{
        if (IsPost) { 
        string guessnum = Request["Guess"]; 
        string answer = Request["Answer"]; 

        <p></p>
        
        if (guessnum != answer){

            <p> Your guess is wrong! </p>

            // <p>You entered: <br/>
            // Guess: @guessnum <br/>
            // Contact Name: @answer </p>
            

        }
        }
        }
        
    
    else
    {
    <form method="post" action="">
    Company Name:<br />
    <input type="number" name="Guess" value="" /><br />
    Contact Name:<br />
    <input type="number" name="Answer" value="" /><br /><br />
    <input type="submit" value="Submit" class="submit" />
    </form>
    }
} 
</body> 
</html>