@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>

@section qotd{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Quote of the day</h1>
            </hgroup>
            <p>
                "You miss the shots you don't take"
            </p>
        </div>
    </section>
}

<article>
    <p>
        This is a guessing game app
    </p>

    <p>
        When you start the game it will generate a random number and you will have to guess it
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>