@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

@section qotd{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Quote of the day</h1>
            </hgroup>
            <p>
                "No pain, no gain"
            </p>
        </div>
    </section>
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your contact page.</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone: 8675309</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>867.5309</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>867.5309</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@bimby.com">Support@jenny.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@bimby.com">Marketing@jenny.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@bimby.com">General@jenny.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>